@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Quicksand', sans-serif;
}

h1 {
  text-align: center;
}

button {
  cursor: pointer;
}

#canvascontainer {
  position: relative;
}

#containerr {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#sample {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
#avgline {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

#sidebar {
  padding: 20px;
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#sidebarcontainer {
  background-color: #cea1ce4f;
  border-radius: 25px;
  padding-top: 20px;
  height: 100%;
}

#main {
  padding-left: 20px;
  padding-right: 20px;
}

#container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#populationCanvas,
#sampleCanvas {
  border-bottom: 2px solid black;
}

#containerr div {
  margin-top: -5px;
  font-size: 18px;
  width: 50%;
  margin: auto;
}

#button,
#randomDist,
#exampleDist {
  background-color: #de70ffa8;
  border: none;
  font-weight: 800;
  border-radius: 5px;
  font-size: 20px;
  height: 40px;
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 5px;
}

#randomDist,
#exampleDist {
  background-color: #f89dffad;
  font-size: 15px;
  margin-top: 20px;
}

#button {
  margin-top: 20px;
}

h4 {
  margin: 0;
  margin-top: 25px;
  margin-bottom: 5px;
}

p {
  font-size: 120%;
}

#exampleDist {
  margin-top: 10px;
}

input {
  height: 20px;
  margin-top: 10px;
}

#button:hover {
  background-color: #de70ff;
}

#randomDist:hover,
#exampleDist:hover {
  background-color: #f89dff;
}

#rangeDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.label {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  #container {
    width: 90%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin: auto;
  }

  canvas {
    width: 100%;
  }

  #sidebar {
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
  }

  #sidebarcontainer {
    margin-top: -20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: -25px;
  }

  #avgline {
    width: 100%;
  }  
  
  #main {
    padding-left: 20px;
    padding-right: 20px;
  }

  p {
    margin-top: -5px;
  }
  
  #button,
  #randomDist,
  #exampleDist {
    background-color: #de70ffa8;
    border: none;
    font-weight: 800;
    border-radius: 5px;
    font-size: 12px;
    height: 40px;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 5px;
  }
  
  #randomDist,
  #exampleDist {
    background-color: #f89dffad;
    font-size: 12px;
    margin-top: 10px;
  }
  
  #button {
    margin-top: 10px;
  }

  h2 {
    font-size: 20px;
    margin-top: -5px;
  }
  
  h4 {
    margin: 0;
    margin-top: 5px;
  }
  
  #exampleDist {
    margin-top: 5px;
  }
  
  input {
    height: 20px;
    margin-top: -5px;
  }

  .range {
    width:35%;
  }
}