@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

html {
  margin: 0;
  padding: 0;
  font-family: 'Fjalla One', sans-serif;
}

h1 {
  text-align: center;
  font-family: 'Fjalla One', sans-serif;
}

#canvascontainer {
  position: relative;
}

#sample {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
#avgline {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

#sidebar {
  padding: 20px;
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#main {
  padding-left: 20px;
  padding-right: 20px;
}

#container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#populationCanvas,
#sampleCanvas {
  font-family: 'Fjalla One', sans-serif;
  border-bottom: 2px solid black;
}

p {
  font-family: Arial;
  margin-top: -5px;
  font-size: 18px;
}

#button {
  background-color: rgba(255, 243, 134, 0.89);
  border: none;
  font-family: Arial;
  font-weight: 800;
  border-radius: 5px;
  font-size: 20px;
  height: 40px;
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 10px;
}

input {
  height: 20px;
  margin-top: 10px;
}

#button:hover {
  background-color: rgba(255, 237, 72, 0.89);
}
