html {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

#sidebar {
    padding: 20px;
    height: 100%;
}

#main {
    padding-left: 20px;
    padding-right: 20px;
}

#container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#populationCanvas, #sampleCanvas {
    border-bottom: 2px solid black;
}

p {
    font-family: Arial;
    margin-top: -5px;
    font-size: 18px;
}